name: ci

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup-node

      - name: Type check
        run: npx tsc --noEmit

      - name: Run tests
        run: npm run test -- --coverage
  
  style:
    name: Style
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup-node

      - name: Run style checks
        run: npm run format:check

      - name: Run lint checks
        run: npm run lint -- --max-warnings=0